################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
#########################################
# Buildout settings
# Modify at your own risks
#########################################
[buildout]
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part

[versions]

[part]
recipe = minitage.recipe.cmmi
md5sum=4233ad2fc3d0c2fcf7bf399f6ccf50b2
url = http://${mirrors:sourceforge}/varnish/varnish-2.0.3.tar.gz?use_mirror=switch 
pre-make-hook=${buildout:hooks-directory}/conf.py:conf
includes=${buildout:directory}/../ncurses-5.6/parts/part/include/ncurses

[mirrors]
gentoo= gentoo.imj.fr/pub
sourceforge=downloads.sourceforge.net

